* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Mahsulot {
    width: 100%;
    height: 150vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.BoxCart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.Cards {
    width: 250px;
    height: 450px;

    border-radius: 10px;
    background-color: #fff;
    color: #000;
}

.Cards>a {
    color: #000000;
    text-decoration: none;
}


.Cards>img {
    width: 248px;
    height: 300px;
    background-color: rgb(215, 215, 215);
    border-radius: 10px 10px 0px 0px;
}

.Cards>p {
    width: 110px;
    height: 20px;
    background-color: gold;
    font-size: 15px;
    border-radius: 3px;
    position: relative;
    top: -55px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cards>a h4 {
    position: relative;
    top: -60px;
    left: 0px;
}

.Cards>i {
    position: relative;
    top: -10px;
    left: 0px;
}

.Cards>h3 {
    position: relative;
    top: -9px;
    left: 0px;
}



.Cards>b {
    font-size: 25px;
    position: relative;
    top: -300px;
    left: 220px;
    color: grey;
}


.Cards>b:hover {
    color: #000000;
}

.icon {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    position: relative;
    top: 78px;
    left: 208px;
}


.icon>button:hover {
    background-color: rgb(200, 200, 200);
}


.icon>button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid white;
}


.modelBoxNone {
    display: none;
}



.modelBox {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: .5s;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.541)
}


.model {
    width: 900px;
    height: 98vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
}


.hh {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    position: absolute;
    right: 330px;
    top: 30px;
    /* margin-left: 60px;
    margin-top: -600px; */
    transform: rotate(45deg);
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}


.ikki {
    width: 400px;
    height: 98vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.rasmii {
    width: 330px;
    height: 430px;
    background: none;
    border-radius: 10px;
    margin: 30px 40px 10px 40px;
}


.rasmii>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



.cartsss {
    width: 330px;
    height: 60px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: rgb(60, 60, 60);
    ;
}



.cartsss>n {
    padding: 900vh 5px;
}



.uch {
    width: 500px;
    height: 98vh;
    border-radius: 0px 10px 10px 0px;
    background-color: aqua;
}


.Костюм {
    width: 500px;
    height: 100px;
    background: none;
    font-size: 20px;
    padding: 25px 0px;
    color: #000;
    border-bottom: 1px solid rgb(205, 205, 205);
    border-radius: 0px 10px 0px 0px;
}


.rangii {
    width: 500px;
    height: 150px;
    background: none;
}


.yozuvv {
    width: 500px;
    height: 40px;
    background: none;
    display: flex;
    align-items: end;
    font-size: 17px;
    color: #000;
}


.yozuvv>b {
    padding: 0px 4px;
}


.rasmga {
    width: 70px;
    height: 90px;
    border: 3px solid rgb(240, 240, 240);
    border-radius: 4px;
    margin: 20px 0px 0px 0px;
}



.rasmga:hover {
    background: rgb(230, 230, 230);
}


.rasmga>img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}